@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importamos una fuente bonita de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
    overflow-x: hidden;
}